<table>
    <thead>
        <tr>
            <th>Addhar Number</th>
            <th>Name</th>
            <th>Email ID</th>
            <th>Password</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tr>
    </tbody>
</table>